html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oxygen:400,700")
    link(rel="stylesheet", href="../static/css/layout.css")
    title Formulario de registro
  body
    block content